html, body {
    height: 100%;
}
.container {
    min-height: 100%;
    overflow: hidden;
}

cbody{
    background-color: lightgray;
}
.icon-hov{
    cursor: pointer;
}
tr:hover{
    background-color: dodgerblue;
}